@media only screen and (max-width: 1100px){
    header{
        padding: 0 40px;
    }
    header nav{
        gap: 25px;
    }
    header nav ul{
        gap: 15px;
    }
    .servicesProjectsClients{
        gap: 60px;
    }
    .servicesProjectsClients article{
        width: 250px;
    }
    .contact form{
        /* width: 850px; */
    }
    .contact form .firstLine div input{
        width: 380px;
    }
    .contact form .thirdLine textarea{
        width: 600px;
    }
    .contact .map{
        width: 850px;
        height:  300px;
    }
    /* about.html */
    .topSection .center{
        gap: 40px;
    }
    .topSection .center aside{
        width: 450px;
        height: 615px;
    }
}
@media only screen and (max-width: 910px){
    header{
        padding: 0 20px;
    }
    header .checkBtn{
        display: inline;
        color: white;
        font-size: 24px;
    }
    header nav{
        width: 100%;
        height: 100vh;
        position: fixed;
        top: -100%;
        left: 0;
        background-color:  #0e3e66;
    }
    header #check:checked~nav{
        top: 0;
        transition: 0.4s;
    }
    header nav .checkBtn{
        display: inline;
        color: white;
        font-size: 24px;
        position: absolute;
        top: 35px;
        right: 20px;
    }
    header nav ul{
        flex-direction: column;
    }
    header nav .login{
        position: absolute;
        top: 35px;
        left: 30px;
    }
    /* cover section */
    .cover{
        height: 50vh;
    }
    .cover .coverBottomSide{
        width: 280px;
        height: 140px;
        gap: 15px;
    }
    .cover .coverBottomSide h3{
        font-size: 1rem;
    }
    .cover .coverBottomSide h2{
        font-size: 1.375rem;
    }
    .cover .coverBottomSide button{
        width: 210px;
        height: 48px;
        font-size: 0.875rem;
    }
    /* servicesProjectsClients */
    .servicesProjectsClients{
        padding: 45px 0;
        width: 100%;
        height: auto;
        gap: 55px;
        flex-direction: column;
    }
    .servicesProjectsClients article{
        gap: 20px;
    }
    .servicesProjectsClients article p{
        width: 255px;
    }
    .servicesProjectsClients article h2{
        font-size: 1.5rem;
    }
    .servicesProjectsClients article button{
        width: 160px;
        height: 48px;
        font-size: 0.875rem;
    }
    /* about section */
    .about{
        height: auto;
    }
    .about .overlay article{
        gap: 20px;
        padding: 40px 0;
    }
    .about .overlay article h3{
        font-size: 1.5rem;
    }
    .about .overlay article p{
        width: 280px;
    }
    .about .overlay article button{
        font-size: 0.875rem;
        width: 160px;
        height: 48px;
    }
    /* clients section */
    .clients{
        gap: 50px;
    }
    .clients h3{
        font-size: 1.5rem;
    }
    .clients .companies{
        flex-direction: column;
        gap: 60px;
    }
    /* contact section */
    .contact h3{
        font-size: 1.813rem;
    }
    .contact form{
        align-items: flex-start;
    }
    .contact form .firstLine{
        flex-direction: column;
        gap: 25px;
    }
    .contact form .firstLine div input{
        width: 280px;
        height: 38px;
    }
    .contact form .thirdLine{
        flex-direction: column;
        gap: 10px;
    }
    .contact form .thirdLine textarea{
        width: 280px;
        height: 72px;
    }
    .contact form .thirdLine button{
        width: 280px;
        height: 42px;
    }
    .contact .map{
        width: 280px;
        height:  280px;
    }
    footer{
        height: 400px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 40px 20px;
        gap: 5px;
    }
    footer .middle{
        display: none;
    }
    footer .right{
        gap: 10px;
    }
    footer .right div{
        gap: 10px;
    }
    /* about.html */
    .topSection{
        padding: 50px 0 0 0;
        gap: 30px;
    }
    .topSection h2{
        font-size: 1.938rem;
    }
    .topSection .center{
        flex-direction: column;
        gap: 20px;

    }
    .topSection .center article{
        width: 280px;
    }
    .topSection .center aside{
        width: 320px;
        height: 400px;
    }
    /*  */
    .bottomSection{
        padding: 40px 0 40px 0;
        gap: 40px;
    }
    .bottomSection .title h3{
        font-size: 1.75rem;
    }
    .bottomSection .articles{
        grid-template-columns: 1fr;
        row-gap: 70px;
    }
    .bottomSection .articles article{
        width: 280px;
        gap: 20px;
    }
    .bottomSection .articles article img{
        height: 242px;
    }
    .bottomSection .articles article div h4{
        font-size: 1.438rem;
    }
    .bottomSection .articles article div h6{
        font-size: 1.063rem;
    }
    .bottomSection .articles article p{
        width: 280px;
    }
}