@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Syne&display=swap');

:root{
    --primaryFont: 'Roboto', sans-serif; 
    --seconderyFont: 'Syne', sans-serif;   
}
.flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    height: 1800px;
}
header{
    width: 100%;
    height: 71px;
    background-color: #0e3e66;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 95px;
}
header .logo a{
    font-size: 1.25rem;
    font-family: var(--primaryFont);
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: white;
}
header nav .checkBtn,
header .checkBtn,
header #check{
    display: none;
}
header nav{
    gap: 35px;
}
header nav ul{
    gap: 25px;
}
header nav ul li a{
    color: white;
    font-size: 1rem;
    font-family: var(--primaryFont);
    font-weight: 300;
    line-height: 22px;
    text-transform: capitalize;
    cursor: default;
}
header nav ul li a:hover{
    color: #1d80d1;
    transition: 0.3s;
}
header nav a{
    color: white;
    font-size: 1rem;
    font-family: var(--primaryFont);
    font-weight: 300;
    line-height: 22px;
    text-transform: capitalize;
    gap: 12px;
    cursor: default;
}
header nav a:hover{
    color: #d5e8f7;
    transition: 0.3s;
}
header nav a i{
    font-size: 23px;
}
/* cover side */
.cover{
    width: 100%;
    height: 80vh;
    background-image: url(./assets/images/82fcd3_47a465bb9c6f4b52a0cc83f281806af8~mv2.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.cover .coverBottomSide{
    width: 835px;
    height: 250px;
    background-color: white;
    flex-direction: column;
    justify-content: flex-end;
    gap: 25px;
}
.cover .coverBottomSide h3{
    font-size: 1.625rem;
    text-transform: capitalize;
    font-family: var(--primaryFont);
    color: black;
}
.cover .coverBottomSide h2{
    font-size: 3.75rem;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-family: var(--primaryFont);
    color: #072136;
}
.cover .coverBottomSide button{
    width: 230px;
    height: 55px;
    background-color: white;
    border: 1px solid #0c3b5f;
    color: #0c3b5f;
    font-size: 1rem;
    text-transform: capitalize;
    font-family: var(--primaryFont);
}
.cover .coverBottomSide button:hover{
    color: white;
    background-color: #0c3b5f;
    transition: 0.5s;
}
/* servicesProjectsClients */
.servicesProjectsClients{
    width: 100%;
    height: 80vh;
    gap: 35px;
}
.servicesProjectsClients article{
    flex-direction: column;
    gap: 65px;
    width: 320px;

}
.servicesProjectsClients article h2{
    font-size: 2.25rem;
    letter-spacing: 0.05em;
    font-family: var(--primaryFont);
    text-transform: uppercase;
    color: #072136;
}
.servicesProjectsClients article p{
    width: 280px;
    text-align: center;
    font-size: 1rem;
    line-height: 1.6em;
    color: black;
}
.servicesProjectsClients article button{
    width: 181px;
    height: 55px;
    background-color: white;
    border: 1px solid #0c3b5f;
    color: #0c3b5f;
    font-size: 1rem;
    text-transform: capitalize;
    font-family: var(--primaryFont);
}
.servicesProjectsClients article button:hover{
    color: white;
    background-color: #0c3b5f;
    transition: 0.5s;
}


/* footer */
footer{
    width: 100%;
    height: 380px;
    background-color: #0a233a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
}
footer .left{
    width: 250px;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}
footer .left h3{
    color: white;
    font-size: 1.25rem;
    font-family: var(--primaryFont);
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
footer .left ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
footer .left ul li,
footer .left ul li a{
    color: white;
    font-size: 1rem;
}

footer .middle{
    width: 200px;
    height: 70%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
footer .middle h3{
    color: white;
    font-size: 1.25rem;
    font-family: var(--primaryFont);
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
footer .middle ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 17px;
}
footer .middle ul li a{
    color: white;
    font-size: 1rem;
    text-transform: capitalize;
}
footer .right{
    width: 250px;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
}
footer .right div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
footer .right div h3{
    color: white;
    font-size: 1.25rem;
    font-family: var(--primaryFont);
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
footer .right div .icons{
    display: flex;
    flex-direction: row ;
    gap: 15px;
}
footer .right div .icons a i{
    color: white;
}
footer .right p{
    color: white;
    font-size: 0.875rem;
    text-transform: capitalize;
}
footer .right p a{
    text-decoration: underline;
    color: white;
    font-size: 0.875rem;
    text-transform: capitalize;
}

