@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Syne&display=swap');

:root{
    --primaryFont: 'Roboto', sans-serif; 
    --seconderyFont: 'Syne', sans-serif;   
}
.flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    height: 1800px;
}
header{
    width: 100%;
    height: 71px;
    background-color: #0C3C60;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 95px;
}
header .logo a{
    font-size: 1.25rem;
    font-family: var(--primaryFont);
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: white;
}
header nav .checkBtn,
header .checkBtn,
header #check{
    display: none;
}
header nav{
    gap: 35px;
}
header nav ul{
    gap: 25px;
}
header nav ul li a{
    color: white;
    font-size: 1rem;
    font-family: var(--primaryFont);
    font-weight: 300;
    line-height: 22px;
    text-transform: capitalize;
    cursor: default;
}
header nav ul li a:hover{
    color: #1d80d1;
    transition: 0.3s;
}
header nav a{
    color: white;
    font-size: 1rem;
    font-family: var(--primaryFont);
    font-weight: 300;
    line-height: 22px;
    text-transform: capitalize;
    gap: 12px;
    cursor: default;
}
header nav a:hover{
    color: #d5e8f7;
    transition: 0.3s;
}
header nav a i{
    font-size: 23px;
}
/* cover side */
.cover{
    width: 100%;
    height: 80vh;
    background-image: url(./assets/images/82fcd3_47a465bb9c6f4b52a0cc83f281806af8~mv2.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
.cover .coverBottomSide{
    width: 835px;
    height: 250px;
    background-color: white;
    flex-direction: column;
    justify-content: flex-end;
    gap: 25px;
}
.cover .coverBottomSide h3{
    font-size: 1.625rem;
    text-transform: capitalize;
    font-family: var(--primaryFont);
    color: black;
}
.cover .coverBottomSide h2{
    font-size: 3.75rem;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-family: var(--primaryFont);
    color: #072136;
}
.cover .coverBottomSide button{
    width: 230px;
    height: 55px;
    background-color: white;
    border: 1px solid #0c3b5f;
    color: #0c3b5f;
    font-size: 1rem;
    text-transform: capitalize;
    font-family: var(--primaryFont);
}
.cover .coverBottomSide button:hover{
    color: white;
    background-color: #0c3b5f;
    transition: 0.5s;
}
/* servicesProjectsClients */
.servicesProjectsClients{
    width: 100%;
    height: 80vh;
    gap: 35px;
}
.servicesProjectsClients article{
    flex-direction: column;
    gap: 65px;
    width: 320px;

}
.servicesProjectsClients article h2{
    font-size: 2.25rem;
    letter-spacing: 0.05em;
    font-family: var(--primaryFont);
    text-transform: uppercase;
    color: #072136;
}
.servicesProjectsClients article p{
    width: 280px;
    text-align: center;
    font-size: 1rem;
    line-height: 1.6em;
    color: black;
}
.servicesProjectsClients article button{
    width: 181px;
    height: 55px;
    background-color: white;
    border: 1px solid #0c3b5f;
    color: #0c3b5f;
    font-size: 1rem;
    text-transform: capitalize;
    font-family: var(--primaryFont);
}
.servicesProjectsClients article button:hover{
    color: white;
    background-color: #0c3b5f;
    transition: 0.5s;
}
/* about */
.about{
    width: 100%;
    height: 80vh;
    background-image: url(./assets/images/82fcd3_96376843bac9407bb5b50891b78b6210~mv2.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.about .overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(216,232,242, 0.92);
}
.about .overlay article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 42px;
}
.about .overlay article h3{
    font-size: 2.25rem;
    font-family: var(--primaryFont);
    letter-spacing: 0.05em;
    line-height: 1.2em;
    text-transform: uppercase;
    color: #072136;
}
.about .overlay article p{
    font-size: 1rem;
    font-family: var(--primaryFont);
    text-align: center;
    line-height: 1.6em;
    width: 631px;
}
.about .overlay article button{
    width: 181px;
    height: 55px;
    background-color: transparent;
    border: 1px solid #0c3b5f;
    color: #0c3b5f;
    font-size: 1rem;
    text-transform: capitalize;
    font-family: var(--primaryFont);
}
.about .overlay article button:hover{
    color: white;
    background-color: #0c3b5f;
    transition: 0.5s;
}
/* clients section */
.clients{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 140px;
    padding: 140px 0;
}
.clients h3{
    font-size: 2.25rem;
    font-family: var(--primaryFont);
    letter-spacing: 0.05em;
    line-height: 1.2em;
    text-transform: uppercase;
    color: #072136;
}
.clients .companies{
    width: 85%;
    justify-content: space-around;
}
.clients .companies img{
    width: 60px;
    height: 52px;
    opacity: 0.6;
}
.clients .companies img:nth-child(2){
    width: 118px;
    height: 29px;
}
.clients .companies img:nth-child(3){
    width: 102px;
    height: 34px;
}
.clients .companies img:nth-child(4){
    width: 106px;
    height: 57px;
}
/* contact section */
.contact{
    width: 100%;
    background-color: #0C3C60;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 90px;
    padding: 70px 0;
}
.contact h3{
    font-size: 2.25rem;
    font-family: var(--primaryFont);
    text-transform: uppercase;
    letter-spacing: 0.05em;
    line-height: 1.2em;
    color: white;
}
.contact form{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.contact form .firstLine{
    display: flex;
    justify-content: space-between;
    gap: 60px;
}
.contact form .firstLine div{
    display: flex;
    flex-direction: column;
}
.contact form label,
.contact form .firstLine div label{
    font-size: 1.125rem;
    font-family: var(--primaryFont);
    text-transform: capitalize;
    color: white;
    font-weight: 300;
}
.contact form .firstLine div input{
    width: 445px;
    height: 40px;
    background-color: transparent;
    border-color: transparent;
    border-bottom: 1px solid white;
    color: white;
}
.contact form label{
    font-size: 0.625rem;
}
.contact form .thirdLine{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.contact form .thirdLine textarea{
    width: 698px;
    height: 91px;
    background-color: transparent;
    border-color: transparent;
    border-bottom: 1px solid white;
    color: white;
}
.contact form .thirdLine button{
    width: 187px;
    height: 55px;
    background-color: white;
    border: 1px solid #0c3b5f;
    color: #072136;
    font-size: 1rem;
    text-transform: capitalize;
    font-family: var(--primaryFont);
}
.contact .map{
    width: 960px;
    height:  300px;
}
.contact .map iframe{
    width: 100%;
    height: 100%;
}
/* footer */
footer{
    width: 100%;
    height: 380px;
    background-color: #0a233a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
}
footer .left{
    width: 250px;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}
footer .left h3{
    color: white;
    font-size: 1.25rem;
    font-family: var(--primaryFont);
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
footer .left ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
footer .left ul li,
footer .left ul li a{
    color: white;
    font-size: 1rem;
}

footer .middle{
    width: 200px;
    height: 70%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
footer .middle h3{
    color: white;
    font-size: 1.25rem;
    font-family: var(--primaryFont);
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
footer .middle ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 17px;
}
footer .middle ul li a{
    color: white;
    font-size: 1rem;
    text-transform: capitalize;
}
footer .right{
    width: 250px;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 60px;
}
footer .right div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
footer .right div h3{
    color: white;
    font-size: 1.25rem;
    font-family: var(--primaryFont);
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
footer .right div .icons{
    display: flex;
    flex-direction: row ;
    gap: 15px;
}
footer .right div .icons a i{
    color: white;
}
footer .right p{
    color: white;
    font-size: 0.875rem;
    text-transform: capitalize;
}
footer .right p a{
    text-decoration: underline;
    color: white;
    font-size: 0.875rem;
    text-transform: capitalize;
}
/* about.html */
.topSection{
    width: 100%;
    flex-direction: column;
    gap: 90px;
    padding: 80px 0 0 0;
}
.topSection h2{
    font-size: 3.75rem;
    font-family: var(--primaryFont);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    font-weight: 300;
    color: #072136;
}
.topSection .center{
    gap: 80px;
}
.topSection .center article{
    width: 386px;
    flex-direction: column;
    gap: 35px;
}
.topSection .center article p{
    font-size: 1rem;
    font-family: var(--primaryFont);
    line-height: 1.8em;
    color: black;
}
.topSection .center aside{
    width: 489px;
    height: 634px;
}
.topSection .center aside img{
    width: 100%;
    height: 100%;
}
/*  */
.bottomSection{
    padding: 160px 0 130px 0;
    width: 100%;
    flex-direction: column;
    gap: 160px;
}
.bottomSection .title{
    flex-direction: column;
    gap: 15px;
}
.bottomSection .title h3{
    font-size: 2.25rem;
    font-family: var(--primaryFont);
    letter-spacing: 0.05em;
    line-height: 1.2em;
    text-transform: uppercase;
    font-weight: 300;
    color: #072136;
}
.bottomSection .title p{
    text-align: center;
    width: 277px;
    font-size: 1rem;
    line-height: 1.6em;
}
.bottomSection .articles{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    column-gap: 110px;
    row-gap: 160px;
}
.bottomSection .articles article{
    width: 370px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}
.bottomSection .articles article img{
    width: 100%;
    height: 318px;
}
.bottomSection .articles article div h4{
    font-size: 1.625rem;
    letter-spacing: 0.03em;
    font-family: var(--primaryFont);
    text-transform: uppercase;
    color: black;
    margin-bottom: 10px;
}
.bottomSection .articles article div h6{
    font-size: 1.125rem;
    letter-spacing: 0.03em;
    font-family: var(--primaryFont);
    font-weight: 500;
    text-transform: capitalize;
    color: #072136;
}
.bottomSection .articles article p{
    width: 342px;
    font-size: 1rem;
    line-height: 1.8em;
    font-family: var(--primaryFont);
    color: black;
}